<div>
	<div>
		<div><a href="response" id="btn_response">Response</a></div>
		<div><a href="request" id="btn_request">Request</a></div>
	</div>
	<div class="response-details">
		<div class="response-headers">
			<h3>Response Headers</h3>
			<div class="context">
				<pre>{{response_headers}}</pre>
			</div>
		</div>
		<div class="response-body">
			<h3>Response Body</h3>
			<div class="context">
				<pre>{{body}}</pre>
			</div>
		</div>
	</div>
	<div class="request-details">
		<div class="request-headers">
			<h3>Request Headers</h3>
			<div class="context">
				<pre>{{request_headers}}</pre>
			</div>
		</div>
	</div>
</div>